body{
    color: #585858;
 font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}

.resume{
    width: -webkit-fill-available;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 250px;
    max-height: 1169px;
    overflow: auto;

}

.cv-frame {
            width: 100%; /* Make the iframe width 100% of its container */
            height: 100vh;
            border: none; /* Remove iframe border */
            background: transparent; /* Set iframe background to transparent */
                    border: 1px dotted black;
    border-radius: 8px;
        }

.resume-text section{
line-height: 1.3em;
    font-size: 90%;
    margin: 5px 0 5px 0;
    border-bottom: 5px solid white;
}

.resume-sidebar section{
    line-height: 1.5em;
    font-size: 75%;
    margin: 0;
    color: #a6a6a6;
}

.resume-text{
    width: -webkit-fill-available;
    padding: 20px 10px 10px 30px;
    list-style: none;
        font-size: 90%;
}

.image_cv{
    display: flex;
    justify-content: center;
    padding: 5px 0 0 0;
}

.image_cv img{
    width: 150px;
}

.contact_cv{
    list-style: none;
}

.contact_cv > li{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: white;
}

.contact_cv > li > img{
    width: 20px;
    margin: 2px 10px 2px 0;
}

.resume-sidebar {
    width: 250px;
height: 100%;
    background-color: rgb(87, 87, 87);
    color: mintcream;
    padding: 5px 5px 0 10px;
    list-style: none;
}

.sidebar-head{
    color: #a6a6a6;
margin: 10px 0;
}

.sidebar-title{
    color: ghostwhite;
    margin: 0;
    font-size: 110%;
}

.sidebar-small{
    font-size: 11px;
    color: #a6a6a6;
}

.r-h1-small{
    color: #a6a6a6;
    font-size: 70%;
    font-weight: bold;
}

.sidebar-highlight{
color: #3399ff;
font-weight: bold;
}

.amount{
    background-color: #167CB5;
    display: block;
    height: 4px;
    border-radius: 1.5em;
    margin: 0 0 0 -3px;
}

.r-h1-green{
color: #029a83;
font-weight: bold;
}

.r-h1-head{
color: #029a83;
font-weight: bold;
}

.r-h1-title{
color: #a6a6a6;
font-weight: bold;
}

.t-time{
    color: #a6a6a6;
    font-size: 70%;
}

.r-h1-dark{
color: #575757;
font-weight: bold;
}