.resume{
    width: -webkit-fill-available;
    background-color: aquamarine;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 260px;
        max-height: 1169px;
    overflow: auto;
}

.cv-frame {
            width: 100%; /* Make the iframe width 100% of its container */
            height: 1169px;
            border: none; /* Remove iframe border */
            background: transparent; /* Set iframe background to transparent */
        }

                .a4-paper {
            width: 827px; /* Width of A4 page (8.27 inches) at 100 DPI */
            height: 1169px; /* Height of A4 page (11.69 inches) at 100 DPI */
            border: 1px solid black; /* Optional border for visualization */
            box-sizing: border-box; /* Include border in width/height calculation */
            background-color: white; /* Optional background color */
        }

.resume-text section{
    line-height: 1.5em;
    margin: 0 0 10px 0;
    border-bottom: 5px solid white;
}

.resume-sidebar section{
    line-height: 1.4em;
    font-size: 85%;
    margin: 0 0 5px 0;
    color: #a6a6a6;
}

.resume-text{
    width: -webkit-fill-available;
    background-color: ghostwhite;
    padding: 20px 10px 10px 30px;
    list-style: none;
}

.image_cv{
    display: flex;
    justify-content: center;
    padding: 5px 0 0 0;
}

.contact_cv{
    list-style: none;
}

.contact_cv > li{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: ghostwhite;
}

.contact_cv > li > img{
    width: 25px;
    margin: 3px 10px 3px 0;
}

.resume-sidebar {
    width: -webkit-fill-available;
    background-color: rgb(87, 87, 87);
    color: mintcream;
    padding: 5px 5px 0 10px;
    list-style: none;
}

.sidebar-head{
    color: #a6a6a6;
font-size: 20px;
}

.sidebar-title{
    color: white;
    margin: 0 0 2px 0;
    font-size: 120%;
}

.sidebar-small{
    font-size: 12px;
    color: navajowhite;
}

.sidebar-highlight{
color: #3399ff;
font-weight: bold;
}

.amount{
    background-color: #167CB5;
    display: block;
    height: 4px;
    border-radius: 1.5em;
    margin: 0 0 0 -3px;
}

.r-h1-green{
color: #029a83;
font-weight: bold;
}

.r-h1-head{
color: #029a83;
font-weight: bold;
}

.r-h1-title{
color: #a6a6a6;
}

.t-time{
    color: #a6a6a6;
    font-size: 70%;
}

.r-h1-dark{
color: #575757;
font-weight: bold;
}